<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.db_14.travelplanner">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".customFont"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.NoTitleBar">
        <activity android:name=".IntroActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".UserManagements.LoginActivity" />
        <activity android:name=".UserManagements.SignupActivity" />
        <activity android:name=".Sights.ListActivity" />
        <activity android:name=".MainUIActivity$SigunguActivity" />
        <activity android:name=".Sights.SightsActivity" />
        <activity android:name=".Sights.SightViewActivity" />
        <activity android:name=".Sights.SightMapActivity" />
        <activity android:name=".Plans.UserPlanActivity" />
        <activity android:name=".Accounts.AccountActivity" />
        <activity android:name=".Plans.PlanAddActivity" />
        <activity android:name=".Plans.BookmarkActivity" />
        <activity android:name=".Accounts.AccountEditActivity" />
        <activity android:name=".Accounts.AccountAddActivity" />
        <activity android:name=".Plans.PlanViewActivity" />
        <activity android:name=".Plans.InviteListActivity"/>
        <activity
            android:name=".Reviews.ReviewDetailActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".Reviews.ReviewActivity" />
        <activity android:name=".Reviews.ReviewAddActivity" />
        <activity android:name=".Plans.PlanEditActivity" />
        <activity android:name=".Sights.SightViewDetailActivity"/>
        <activity android:name=".Reviews.MyReviewActivity" />
        <activity
            android:name=".MainUIActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity android:name=".Plans.TransportViewActivity"/>
        <service
            android:name=".Services.InviteService"
            android:enabled="true"
            android:exported="true"></service>
    </application>

</manifest>